.flip-card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  perspective: 1000px;
  margin: 0 auto 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;

  .tag-list {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
}

.flip-card:hover .flip-card-inner,
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-front .flashcard,
.flipped .flip-card-front .flashcard {
  box-shadow: none;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flashcard {
  box-shadow: 5px 3px 5px #ccc;

  .sentence-container {
    max-height: 80px;
  }

  .sentence-list {
    text-align: center;
    padding: 0 10px;
    list-style: none;
    overflow-y: scroll;
    height: 100%;
  }
}

.card-content {
  height: 252px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-item {
  text-align: center;
}

.hanzi-wrap {
  margin-bottom: 10px;
  margin-right: 5px;
  display: inline-block;

  div {
    text-align: center;
  }
  
  .hanzi {
    font-size: 20px;
  }

  &.title {
    .hanzi {
      font-size: 50px;
    }
  }
}

.translation {
  font-size: 18px;
  margin: 10px 0;
}
