.quiz-buttons {
  margin-top: 30px;
  text-align: center;

  button {
    height: auto;
    padding-top: 5px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;

    &:hover, &:focus {
      background: transparent;
    }
  }

  i {
    font-size: 50px;
  }
}
